
name: Build Printer HTTP Service

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'
        include-windows-desktop: true
    - run: dotnet restore ./src/PrinterHttpService/PrinterHttpService.csproj
    - run: dotnet publish ./src/PrinterHttpService/PrinterHttpService.csproj -c Release -r win-x64 --self-contained true -o ./build/win-x64
    - uses: actions/upload-artifact@v4
      with:
        name: build
        path: ./build/win-x64
